{% extends 'baseBack.html.twig' %}

{% block title %}
    {{ parent() }} Liste Catégorie
{% endblock %}
{% block TitrePage %}Administration | Liste des catégories{% endblock %}
{% block body %}
    {% for message in app.flashes('success') %}
        <div class="row mt-4 justify-content-center">
            <div class="alert alert-success col-md-6">{{ message }}</div>
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="row mt-4 justify-content-center">
            <div class="alert alert-danger col-md-6">{{ message }}</div>
        </div>
    {% endfor %}
    <table class="table table-hover" >
        <thead>
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th colspan="2" style="text-align: center"> Action</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.nom }}</td>
                <td colspan="2"><a class="btn btn-primary" href="{{ path('editCategory', {'id': category.id}) }}">Éditer</a></td>
                <td><a class="btn btn-danger" href="{{ path('delCategory', {'id': category.id}) }}">Supprimer</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


